main#app {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .container {
    display: flex;
    align-items: center;
    flex-direction: column;

    img {
      width: 100px;
      margin-bottom: 30px
    }
    span {
      color: brown;
    }
  }
}
